<div fxLayout="row">
  <div class="col-xs-3 ">
  </div>
  <div class="col-xs-9 ">
      
          <button mat-raised-button class="pull-right  btn-primary" (click)="openViewProductsDialog()" >
             View Products
          </button>
          <button mat-raised-button  class="pull-right  btn-primary margin-right-10" (click)="openImportDialog()">
            Import
          </button>
          <button mat-raised-button  class="pull-right  btn-primary margin-right-10"(click)="openExportDialog()" >
            Export
          </button>
          
  </div>
</div>
<div class="routing-table-layout">
  <!-- <div class="routing-table-tab">
    <a routerLinkActive="active" [routerLink]="['/vendor/products/inventory/all']">All</a>
   
  </div>
  <router-outlet></router-outlet> -->
  <mat-tab-group>
    <mat-tab label="All"> 
      
      <div fxLayout="row" style="margin-top:20px">
        <div class="col-xs-6 ">
        </div>
        <div class="col-xs-6 ">
              <button mat-raised-button color="primary" class="pull-right filters-hover margin-right-10" >
                <mat-icon>filter_list</mat-icon> Filter
              </button>
        </div>
      </div>
      <div class="table-responsive" style="margin-top: 20px;">
        <table>
          <thead>
            <tr>
              <th><input type="checkbox"/></th>
              <th>Product</th>
              <th>SKU</th>
              <th>When Sold out</th>
              <th>Incoming</th>
              <th>Available</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><input type="checkbox"/></td>
              <td class="productName">White Shirt</td>
              <td>23460</td>
              <td>Stop Selling</td>
              <td>1</td>
              <td>31</td>
            </tr>
            <tr>
              <td><input type="checkbox"/></td>
              <td class="productName">White Shirt</td>
              <td>23460</td>
              <td>Stop Selling</td>
              <td>1</td>
              <td>31</td>
            </tr>
            <tr>
              <td><input type="checkbox"/></td>
              <td class="productName">White Shirt</td>
              <td>23460</td>
              <td>Stop Selling</td>
              <td>1</td>
              <td>31</td>
            </tr>
            <tr>
              <td><input type="checkbox"/></td>
              <td class="productName">White Shirt</td>
              <td>23460</td>
              <td>Stop Selling</td>
              <td>1</td>
              <td>31</td>
            </tr>
      
          </tbody>
        </table>
      </div>
    </mat-tab>
    
  </mat-tab-group>
  
</div>
