<div class="w-100" fxLayout="column" style="padding: 20px;">
  <h2>Shopping Cart</h2>
  <div style="border:1px solid black;padding:8px 10px;border-radius: 5px;width: fit-content;margin-top: 20px;" fxLayout="row" fxLayoutAlign="flex-start center">
    <mat-icon>location_on</mat-icon>
    <p style="margin-top:7px;margin-left:10px">Deliver to John Andrew,302,3rd Floor,Block-B,Strret No.3,St.Louis,Missouri-23456</p>

  </div>
  <div fxLayout="column" style="margin-top: 20px;">
    <h4>Subtotal (3 items) : &#x20B9; 15,000</h4>
    <div fxLayout="row" fxLayoutAlign="flex-start center" >
      <input type="checkbox"/>
      <div fxLayout="row" fxLayoutAlign="center center" style="margin-left: 10px;margin-top:3px">
        <mat-icon>card_giftcard</mat-icon>
        <p style="margin-top:9px;margin-left:10px">This order contains a gift</p>
      </div>
    </div>
    <!-- <button style="margin-top:10px;padding: 8px 10px;border: none;outline: none;border-radius: 5px;background:linear-gradient(rgb(247,212,131), rgb(236,176,105));color: rgba(40,40,40,1);">Proceed to Buy</button> -->
  </div>

  <div fxLayout="row" fxLayoutAlign="space-between start">
    <div fxLayout="column" style="width: 70%;">
      <div fxLayout="column" style="margin-top:30px;border: 1px solid gray;border-radius: 5px;padding:20px">
        <div fxLayout="row" fxLayoutAlign="space-between flex-start">
          <div fxLayout="row">
            <img [routerLink]="['/product']" src="../../../assets/images/pick1.webp" style="width:150px;height:150px"/>
            <div fxLayout="column" style="margin-left: 20px;">
              <p style="margin-top:5px">Pink And Coral Shaded Anarkali Dress With Bandhani And Foil Print</p>
              <p style="color: green;">In Stock</p>
              <div fxLayout="row">
                <button style="padding:8px 10px;border: none;outline: none;border-radius: 5px;">Delete</button>
                <button style="margin-left:10px;padding:8px 10px;border: none;outline: none;border-radius: 5px;">Send to Wishlist</button>
              </div>
            </div>
          </div>
          
          
          <div fxLayout="column" fxLayoutAlign="start end">
            <p style="color:rgb(199,157,107) ;font-weight: bold;font-size: 18px;">&#x20B9; 2700</p>
            <div fxLayout="row" style="border:1px solid black;overflow:hidden;border-radius: 5px;">
              <button style="width:30px;height:30px;border:none;outline:none;background: white;font-size: 18px;">-</button>
              <div style="width:100px;height:30px;background: rgb(239,239,239);" fxLayout="row" fxLayoutAlign="center center">
                <p style="margin-top:10px">1</p>
              </div>
              <button style="width:30px;height:30px;border:none;outline:none;background: white;font-size: 18px;">+</button>
            </div>

          </div>
        </div> 
      </div>

      <div fxLayout="column" style="margin-top:30px;border: 1px solid gray;border-radius: 5px;padding:20px">
        <div fxLayout="row" fxLayoutAlign="space-between flex-start">
          <div fxLayout="row">
            <img [routerLink]="['/product']" src="../../../assets/images/pick2.webp" style="width:150px;height:150px"/>
            <div fxLayout="column" style="margin-left: 20px;">
              <p style="margin-top:5px">Pink And Coral Shaded Anarkali Dress With Bandhani And Foil Print</p>
              <p style="color: green;">In Stock</p>
              <div fxLayout="row">
                <button style="padding:8px 10px;border: none;outline: none;border-radius: 5px;">Delete</button>
                <button style="margin-left:10px;padding:8px 10px;border: none;outline: none;border-radius: 5px;">Send to Wishlist</button>
              </div>
            </div>
          </div>
          
          
          <div fxLayout="column" fxLayoutAlign="start end">
            <p style="color:rgb(199,157,107) ;font-weight: bold;font-size: 18px;">&#x20B9; 2700</p>
            <div fxLayout="row" style="border:1px solid black;overflow:hidden;border-radius: 5px;">
              <button style="width:30px;height:30px;border:none;outline:none;background: white;font-size: 18px;">-</button>
              <div style="width:100px;height:30px;background: rgb(239,239,239);" fxLayout="row" fxLayoutAlign="center center">
                <p style="margin-top:10px">1</p>
              </div>
              <button style="width:30px;height:30px;border:none;outline:none;background: white;font-size: 18px;">+</button>
            </div>

          </div>
        </div> 
      </div>

      <div fxLayout="column" style="margin-top:30px;border: 1px solid gray;border-radius: 5px;padding:20px">
        <div fxLayout="row" fxLayoutAlign="space-between flex-start">
          <div fxLayout="row">
            <img [routerLink]="['/product']" src="../../../assets/images/pick3.webp" style="width:150px;height:150px"/>
            <div fxLayout="column" style="margin-left: 20px;">
              <p style="margin-top:5px">Pink And Coral Shaded Anarkali Dress With Bandhani And Foil Print</p>
              <p style="color: green;">In Stock</p>
              <div fxLayout="row">
                <button style="padding:8px 10px;border: none;outline: none;border-radius: 5px;">Delete</button>
                <button style="margin-left:10px;padding:8px 10px;border: none;outline: none;border-radius: 5px;">Send to Wishlist</button>
              </div>
            </div>
          </div>
          
          
          <div fxLayout="column" fxLayoutAlign="start end">
            <p style="color:rgb(199,157,107) ;font-weight: bold;font-size: 18px;">&#x20B9; 2700</p>
            <div fxLayout="row" style="border:1px solid black;overflow:hidden;border-radius: 5px;">
              <button style="width:30px;height:30px;border:none;outline:none;background: white;font-size: 18px;">-</button>
              <div style="width:100px;height:30px;background: rgb(239,239,239);" fxLayout="row" fxLayoutAlign="center center">
                <p style="margin-top:10px">1</p>
              </div>
              <button style="width:30px;height:30px;border:none;outline:none;background: white;font-size: 18px;">+</button>
            </div>
          </div>
        </div> 
      </div>
    </div>
    <div fxLayout="column" style="width:25%">
      <div fxLayout="column" style="background: rgb(230, 230, 230);padding: 20px;border-radius: 5px;margin-top: 25px;border:1px solid lightgray">
        <p>Subtotal (3 items) : <span style="font-weight: bold;">&#x20B9; 1560</span></p>
        <button style="padding:5px 10px;border:none;border-radius:5px;background:linear-gradient(rgb(247,212,131), rgb(236,176,105));color: rgba(40,40,40,1);width: 100%;">Proceed to Buy</button>
      </div>
      <div fxLayout="column" style="margin-top: 20px;border:1px solid lightgray;border-radius: 5px;padding:20px">
        <p style="font-weight: bold;font-size: 18px;">Recommended items to you</p>
        <div fxLayout="row" style="margin-top: 10px;">
          <img src="../../../assets/images/rec1.webp" style="width:40%;height:140px"/>
          <div fxLayout="column" style="margin-left: 10px;color: rgb(11, 137, 175);line-height: 1.1;">
            <p>Pink And Coral Shaded Anarkali Dress With Bandhani And Foil Print</p>
            <div fxLayout="row" fxLayoutAlign="start center">
              <ul *ngFor="let star of stars" style="display: inline-block;list-style-type: none;" >
                <li  [ngClass]="{'selected': (star <= selectedValue)}">
                    <i class="fa fa-star"></i>
                 </li>
              </ul> 
              <p style="margin-top: 2px;margin-left: 5px;">50</p>
            </div>
            <p style="color:brown">&#x20B9; 1230.00</p>
            <button style="padding:3px 6px;border:1px solid lightgray;outline:none;border-radius:4px;color:black">sell all buying options</button>
          </div>

        </div>
        <div fxLayout="row" style="margin-top: 10px;">
          <img src="../../../assets/images/rec2.webp" style="width:40%;height:140px"/>
          <div fxLayout="column" style="margin-left: 10px;color: rgb(11, 137, 175);line-height: 1.1;">
            <p>Pink And Coral Shaded Anarkali Dress With Bandhani And Foil Print</p>
            <div fxLayout="row" fxLayoutAlign="start center">
              <ul *ngFor="let star of stars" style="display: inline-block;list-style-type: none;" >
                <li  [ngClass]="{'selected': (star <= selectedValue)}">
                    <i class="fa fa-star"></i>
                 </li>
              </ul> 
              <p style="margin-top: 2px;margin-left: 5px;">50</p>
            </div>
            <p style="color:brown">&#x20B9; 1230.00</p>
            <button style="padding:3px 6px;border:1px solid lightgray;outline:none;border-radius:4px;color:black">sell all buying options</button>
          </div>

        </div>
        <div fxLayout="row" style="margin-top: 10px;">
          <img src="../../../assets/images/rec3.webp" style="width:40%;height:140px"/>
          <div fxLayout="column" style="margin-left: 10px;color: rgb(11, 137, 175);line-height: 1.1;">
            <p>Pink And Coral Shaded Anarkali Dress With Bandhani And Foil Print</p>
            <div fxLayout="row" fxLayoutAlign="start center">
              <ul *ngFor="let star of stars" style="display: inline-block;list-style-type: none;" >
                <li  [ngClass]="{'selected': (star <= selectedValue)}">
                    <i class="fa fa-star"></i>
                 </li>
              </ul> 
              <p style="margin-top: 2px;margin-left: 5px;">50</p>
            </div>
            <p style="color:brown">&#x20B9; 1230.00</p>
            <button style="padding:3px 6px;border:1px solid lightgray;outline:none;border-radius:4px;color:black">sell all buying options</button>
          </div>

        </div>
      </div>

    </div>

  </div>

 

  <div fxLayout="column" style="margin-top:20px">
    <hr>
    <h2>Wishlisted (34 items)</h2>
    <div style="display: grid;grid-template-columns: repeat(auto-fit,48%);grid-gap: 20px;">
      <div fxLayout="column" style="margin-top:30px;border: 1px solid gray;border-radius: 5px;padding:20px">
        <div fxLayout="row" fxLayoutAlign="space-between flex-start">
          <img [routerLink]="['/product']" src="../../../assets/images/pick1.webp" style="width:150px;height:150px"/>
          <div fxLayout="column">
            <p style="margin-top:10px">Pink And Coral Shaded Anarkali Dress With Bandhani And Foil Print</p>
            <p style="color:rgb(199,157,107) ;">Rs. 2700</p>
            <p>In Stock</p>
            <div fxLayout="row">
              <button style="padding:8px 10px;border: none;outline: none;border-radius: 5px;">Delete</button>
              <button style="margin-left: 10px;padding:8px 10px;border: none;outline: none;border-radius: 5px;">Move to Cart</button>
            </div>
          </div>
        </div>
    
      </div>

      <div fxLayout="column" style="margin-top:30px;border: 1px solid gray;border-radius: 5px;padding:20px">
        <div fxLayout="row" fxLayoutAlign="space-between flex-start">
          <img [routerLink]="['/product']" src="../../../assets/images/pick2.webp" style="width:150px;height:150px"/>
          <div fxLayout="column">
            <p style="margin-top:10px">Pink And Coral Shaded Anarkali Dress With Bandhani And Foil Print</p>
            <p style="color:rgb(199,157,107) ;">Rs. 2700</p>
            <p>In Stock</p>
            <div fxLayout="row">
              <button style="padding:8px 10px;border: none;outline: none;border-radius: 5px;">Delete</button>
              <button style="margin-left: 10px;padding:8px 10px;border: none;outline: none;border-radius: 5px;">Move to Cart</button>
            </div>
          </div>
        </div>
    
      </div>

      <div fxLayout="column" style="margin-top:30px;border: 1px solid gray;border-radius: 5px;padding:20px">
        <div fxLayout="row" fxLayoutAlign="space-between flex-start">
          <img [routerLink]="['/product']" src="../../../assets/images/pick3.webp" style="width:150px;height:150px"/>
          <div fxLayout="column">
            <p style="margin-top:10px">Pink And Coral Shaded Anarkali Dress With Bandhani And Foil Print</p>
            <p style="color:rgb(199,157,107) ;">Rs. 2700</p>
            <p>In Stock</p>
            <div fxLayout="row">
              <button style="padding:8px 10px;border: none;outline: none;border-radius: 5px;">Delete</button>
              <button style="margin-left: 10px;padding:8px 10px;border: none;outline: none;border-radius: 5px;">Move to Cart</button>
            </div>
          </div>
        </div>
    
      </div>

    </div> 
    
  </div>


</div>
