<div class="w-100">
  <div class="container" style="margin-top: 20px;">
    <h2>Your Account</h2>
    <div fxLayout="row" fxLayoutAlign="space-between center" style="margin-top: 30px;">
      <div fxLayout="row" fxLayoutAlign="start center" class="accountdivs">
        <div>
          <img src="../../../assets/images/profile.png" style="width:50px;height:50px"/>
          <!-- <mat-icon style="transform: scale(1.5);">account_circle</mat-icon> -->
        </div>
        <div fxLayout="column" style="margin-left: 10px;margin-top: -5px;">
          <h3 style="font-size: 20px;">Profile</h3>
          <p style="color:gray;margin-top: -5px;">Edit Login, Name and Mobile Number</p>
        </div>
        
        
      </div>

      <div fxLayout="row" fxLayoutAlign="start center" class="accountdivs" [routerLink]="['/orders']">
        <div>
          <img src="../../../assets/images/orders.png" style="width:50px;height:50px"/>
          <!-- <mat-icon style="transform: scale(1.5);">account_circle</mat-icon> -->
        </div>
        <div fxLayout="column" style="margin-left: 10px;margin-top: -5px;">
          <h3 style="font-size: 20px;">Your Orders</h3>
          <p style="color:gray;margin-top: -5px;">Track, return, or buy things again</p>
        </div>
        
        
      </div>

      <div fxLayout="row" fxLayoutAlign="start center" class="accountdivs">
        <div>
          <img src="../../../assets/images/address.png" style="width:50px;height:50px"/>
          <!-- <mat-icon style="transform: scale(1.5);">account_circle</mat-icon> -->
        </div>
        <div fxLayout="column" style="margin-left: 10px;margin-top: -5px;">
          <h3 style="font-size: 20px;">Your Addresses</h3>
          <p style="color:gray;margin-top: -5px;">Edit addresses for orders and gifts</p>
        </div>
        
        
      </div>

    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center" style="margin-top: 30px;">
      <div fxLayout="row" fxLayoutAlign="start center" class="accountdivs">
        <div>
          <img src="../../../assets/images/payments.png" style="width:50px;height:50px"/>
          <!-- <mat-icon style="transform: scale(1.5);">account_circle</mat-icon> -->
        </div>
        <div fxLayout="column" style="margin-left: 10px;margin-top: -5px;">
          <h3 style="font-size: 20px;">Payments</h3>
          <p style="color:gray;margin-top: -5px;">Edit or add payment methods</p>
        </div>
        
        
      </div>

      <div fxLayout="row" fxLayoutAlign="start center" class="accountdivs">
        <div>
          <img src="../../../assets/images/newsletter.png" style="width:50px;height:50px"/>
          <!-- <mat-icon style="transform: scale(1.5);">account_circle</mat-icon> -->
        </div>
        <div fxLayout="column" style="margin-left: 10px;margin-top: -5px;">
          <h3 style="font-size: 20px;">News Letter</h3>
          <p style="color:gray;margin-top: -5px;">Subscribe or unsubscribe to newsletter</p>
        </div>
        
        
      </div>

      <div fxLayout="row" fxLayoutAlign="start center" class="accountdivs">
        <div>
          <img src="../../../assets/images/notifications.jfif" style="width:50px;height:50px"/>
          <!-- <mat-icon style="transform: scale(1.5);">account_circle</mat-icon> -->
        </div>
        <div fxLayout="column" style="margin-left: 10px;margin-top: -5px;">
          <h3 style="font-size: 20px;">Notifications</h3>
          <p style="color:gray;margin-top: -5px;">View and manage your notifications</p>
        </div>
        
        
      </div>

    </div>

  </div>
  <div class="container" style="margin-top: 30px;">
    <hr>
    <div fxLayout="row" fxLayoutAlign="space-between center" style="margin-top: 30px;">
      <div fxLayout="column" fxLayoutAlign="start start" class="quicklinks">
        <h4 style="font-weight: bold;">Digital Content and Devices</h4>

        <div fxLayout="column" style="color: rgb(72, 138, 230);line-height: 1.2;margin-top: 10px;">
          <p>Email Alerts</p>
          <p>Messages</p>
          <p>Advertisement Preferences</p>
          <p>Newsfeed</p>
          <p>SMS Alert Preferences</p>
          <p>Today's Deals</p>
        </div>

      </div>
      <div fxLayout="column" fxLayoutAlign="start start" class="quicklinks">
        <h4 style="font-weight: bold;">Email alerts, messages and ads</h4>

        <div fxLayout="column" style="color: rgb(72, 138, 230);line-height: 1.2;margin-top: 10px;">
          <p>Advertising Preferences</p>
          <p>Communication Preferences</p>
          <p>SMS Alert Preferences</p>
          <p>Message Center</p>
          <p>Deals Notifications</p>
        </div>

      </div>
      <div fxLayout="column" fxLayoutAlign="start start" class="quicklinks">
        <h4 style="font-weight: bold;">Ordering and Shopping preferences</h4>

        <div fxLayout="column" style="color: rgb(72, 138, 230);line-height: 1.2;margin-top: 10px;">
          <p>Leave packaging feedback</p>
          <p>Lists</p>
          <p>Photo ID Proofs</p>
          <p>Profile</p>
          <p>Language Settings</p>
        </div>

      </div>

    </div>


  </div>
  <div class="container" style="margin-top: 30px;">
    <hr>
    <div fxLayout="row" fxLayoutAlign="flex-start center" style="margin-top:10px;padding:15px">
      <h3 style="background: rgba(255,255,255,0.8);box-shadow: 0 0 5px 2px rgba(255,255,255,0.8);">Items for You</h3>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="space-between center" style="width: 100%;margin-top:10px">
      <div fxLayout="column" fxLayoutAlign="center center" style="background: white;padding:15px;border-radius: 10px;width:280px" >
        <img src="../../../assets/images/pick1.webp" style="width: 250px;height: 350px;" />
        <button style="background: rgb(199,157,107);color: white;border:none;border-radius:5px;padding:5px 10px;margin-top:10px">Jaipur Wonders</button>
        <p style="margin-top:10px">Pink And Coral Shaded Anarkali Dress With Bandhani And Foil Print</p>
        <p style="color:rgb(199,157,107) ;">Rs. 2700</p>
        <!-- <button style="background: rgb(239,239,239);color: black;border:none;border-radius:5px;padding:5px 10px;margin-top:10px">Add to Cart</button> -->
      </div>
      <div fxLayout="column" fxLayoutAlign="center center" style="background: white;padding:15px;border-radius: 10px;width:280px">
        <img src="../../../assets/images/pick2.webp"  style="width: 250px;height: 350px;"/>
        <button style="background: rgb(199,157,107);color: white;border:none;border-radius:5px;padding:5px 10px;margin-top:10px">The Dyed Delights</button>
        <p style="margin-top:10px">Pink And Coral Shaded Anarkali Dress With Bandhani And Foil Print</p>
        <p style="color:rgb(199,157,107) ;">Rs. 2700</p>
        <!-- <button style="background: rgb(239,239,239);color: black;border:none;border-radius:5px;padding:5px 10px;margin-top:10px">Add to Cart</button> -->

      </div>
      <div fxLayout="column" fxLayoutAlign="center center" style="background: white;padding:15px;border-radius: 10px;width:280px">
        <img src="../../../assets/images/pick3.webp" style="width: 250px;height: 350px;"/>
        <button style="background: rgb(199,157,107);color: white;border:none;border-radius:5px;padding:5px 10px;margin-top:10px">Flawless Florals</button>
        <p style="margin-top:10px">Pink And Coral Shaded Anarkali Dress With Bandhani And Foil Print</p>
        <p style="color:rgb(199,157,107) ;">Rs. 2700</p>
        <!-- <button style="background: rgb(239,239,239);color: black;border:none;border-radius:5px;padding:5px 10px;margin-top:10px">Add to Cart</button> -->

      </div>
      
    </div>

    <div fxLayout="row" fxLayoutAlign="flex-start center" style="margin-top:10px;padding:15px">
      <h3 style="background: rgba(255,255,255,0.8);box-shadow: 0 0 5px 2px rgba(255,255,255,0.8);">More Items to Explore</h3>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="space-between center" style="width: 100%;margin-top:10px">
      <div fxLayout="column" fxLayoutAlign="center center" style="background: white;padding:15px;border-radius: 10px;width:280px" >
        <img src="../../../assets/images/rec1.webp" style="width: 250px;height: 350px;" />
        <button style="background: rgb(199,157,107);color: white;border:none;border-radius:5px;padding:5px 10px;margin-top:10px">Jaipur Wonders</button>
        <p style="margin-top:10px">Pink And Coral Shaded Anarkali Dress With Bandhani And Foil Print</p>
        <p style="color:rgb(199,157,107) ;">Rs. 2700</p>
        <!-- <button style="background: rgb(239,239,239);color: black;border:none;border-radius:5px;padding:5px 10px;margin-top:10px">Add to Cart</button> -->
      </div>
      <div fxLayout="column" fxLayoutAlign="center center" style="background: white;padding:15px;border-radius: 10px;width:280px">
        <img src="../../../assets/images/rec2.webp"  style="width: 250px;height: 350px;"/>
        <button style="background: rgb(199,157,107);color: white;border:none;border-radius:5px;padding:5px 10px;margin-top:10px">The Dyed Delights</button>
        <p style="margin-top:10px">Pink And Coral Shaded Anarkali Dress With Bandhani And Foil Print</p>
        <p style="color:rgb(199,157,107) ;">Rs. 2700</p>
        <!-- <button style="background: rgb(239,239,239);color: black;border:none;border-radius:5px;padding:5px 10px;margin-top:10px">Add to Cart</button> -->

      </div>
      <div fxLayout="column" fxLayoutAlign="center center" style="background: white;padding:15px;border-radius: 10px;width:280px">
        <img src="../../../assets/images/rec3.webp" style="width: 250px;height: 350px;"/>
        <button style="background: rgb(199,157,107);color: white;border:none;border-radius:5px;padding:5px 10px;margin-top:10px">Flawless Florals</button>
        <p style="margin-top:10px">Pink And Coral Shaded Anarkali Dress With Bandhani And Foil Print</p>
        <p style="color:rgb(199,157,107) ;">Rs. 2700</p>
        <!-- <button style="background: rgb(239,239,239);color: black;border:none;border-radius:5px;padding:5px 10px;margin-top:10px">Add to Cart</button> -->

      </div>
      
    </div>
  </div>

</div>