<div class="w-100" *ngIf="!showCreateCollection">
  <div fxLayout="row">
    <div class="col-xs-3 ">
    </div>
    <div class="col-xs-9 ">
        
            <button mat-raised-button class="pull-right  btn-primary" (click)="showCreateCollection = !showCreateCollection" >
              Create Collection
            </button>
            <!-- <button mat-raised-button  class="pull-right  btn-primary margin-right-10" >
              Import
            </button>
            <button mat-raised-button  class="pull-right  btn-primary margin-right-10" >
              Export
            </button> -->
            
    </div>
  </div>
  <div class="routing-table-layout">
    <!-- <div class="routing-table-tab">
      <a routerLinkActive="active" [routerLink]="['/vendor/products/collections/all']">All</a>
    
    </div> -->
    <mat-tab-group>
      <mat-tab label="All"> 
        
        <!-- <div fxLayout="row" style="margin-top:20px">
          <div class="col-xs-6 ">
          </div>
          <div class="col-xs-6 ">
                <button mat-raised-button color="primary" class="pull-right filters-hover margin-right-10" >
                  <mat-icon>filter_list</mat-icon> Filter
                </button>
          </div>
        </div> -->
        <div class="table-responsive" style="margin-top: 40px;">
          <table>
            <thead>
              <tr>
                <th><input type="checkbox"/></th>
                <th>Title</th>
                <th>Product Conditions</th>
                <!-- <th>Inventory</th>
                <th>Type</th>
                <th>Vendor</th> -->
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><input type="checkbox"/></td>
                <td class="productName" style="font-weight: bold;">Under 100</td>
                <td>Product price is less than 100</td>
                <!-- <td>470</td>
                <td>Shirt</td>
                <td>Option Matrix</td> -->
              </tr>
              <tr>
                <td><input type="checkbox"/></td>
                <td class="productName" style="font-weight: bold;">Under 500</td>
                <td>Product price is less than 500</td>
                <!-- <td>470</td>
                <td>Shirt</td>
                <td>Option Matrix</td> -->
              </tr>
        
            </tbody>
          </table>
        </div>
      </mat-tab>
      
    </mat-tab-group>

    <!-- <router-outlet></router-outlet> -->
    
  </div>
</div>

<app-create-collection-dialog *ngIf="showCreateCollection" (newItemEvent)="exitCreateCollection($event)">

</app-create-collection-dialog>
