<div class="w-100" *ngIf="!showAddProduct && !showProductOverview">
  <div fxLayout="row">
    <div class="col-xs-3 ">
    </div>
    <div class="col-xs-9 ">
        
            <button mat-raised-button class="pull-right  btn-primary" (click)="showAddProduct = !showAddProduct" >
              <mat-icon>add</mat-icon> Add Product
            </button>
            <button mat-raised-button  class="pull-right  btn-primary margin-right-10" (click)="openImportDialog()" >
              Import
            </button>
            <button mat-raised-button  class="pull-right  btn-primary margin-right-10" (click)="openExportDialog()">
              Export
            </button>
            
    </div>
  </div>
  <div class="routing-table-layout">
    <!-- <div class="routing-table-tab">
      <a routerLinkActive="active" [routerLink]="['/vendor/products/all/all']">All</a>
      <a routerLinkActive="active" [routerLink]="['/vendor/products/all/active']">Active</a>
      <a routerLinkActive="active" [routerLink]="['/vendor/products/all/draft']">Draft</a>
      <a routerLinkActive="active" [routerLink]="['/vendor/products/all/archived']">Archived</a>
    </div> -->
    <mat-tab-group>
      <mat-tab label="All"> 
        
        <div fxLayout="row" style="margin-top:20px">
          <div class="col-xs-6 ">
          </div>
          <div class="col-xs-6 ">
                <button mat-raised-button color="primary" class="pull-right filters-hover margin-right-10"  (click)="filterToggle =! filterToggle">
                  <mat-icon>filter_list</mat-icon> Filter
                </button>
          </div>
        </div>
        <div fxLayout="row wrap" *ngIf="filterToggle">
          <div fxFlex="100" fxFlex.gt-sm fxFlex.sm class="flex-p w-100 margins">
              <mat-card class="filter">
                  <mat-card-content>
                      <div class="row">
                          <div class="col-sm-4">
                              <div class="col-sm-4 newMarginClass">
                                 Product: 
                              </div>
                              <div class="col-sm-8">
                                  <input type="text" placeholder="Search by Product" class="form-control" >
                              </div>
                          </div>
                          <div class="col-sm-4">
                              <div class="col-sm-4 newMarginClass">
                                 Type: 
                              </div>
                              <div class="col-sm-8">
                                  <input type="text" placeholder="Search by Type" class="form-control" >
                              </div>
                          </div>
                          <div class="col-sm-4">
                              <div class="col-sm-4 newMarginClass">
                                  Vendor: 
                              </div>
                              <div class="col-sm-8">
                                <input type="text" placeholder="Search by Vendor" class="form-control" >
                              </div>
                          </div>
                          
                      </div> 
                      <div class="row" style="padding-top:10px !important">
                        
                          <div class="col-lg-1" style="margin-left:80%!important;">
                              <button mat-raised-button  class="pull-right btn-primary"> Search</button>
                          </div>
                          <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="margin-left: -18px;">
                              <button mat-raised-button style="background-color:#37474f; color:#fff !important" > Clear</button>
                          </div>
                          <a (click)="filterToggle = !filterToggle" class="pull-right" style="font-size: 25px; cursor: pointer; margin-left: 5px;">
                              <i class="fa fa-angle-double-up" aria-hidden="true"></i>
                          </a>
                          
                      </div>
                  </mat-card-content>
              </mat-card>
          </div>
        </div>
        <div class="table-responsive" style="margin-top: 20px;">
          <table>
            <thead>
              <tr>
                <th><input type="checkbox"/></th>
                <th>Product</th>
                <th>Status</th>
                <th>Inventory</th>
                <th>Type</th>
                <th>Vendor</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><input type="checkbox"/></td>
                <td class="productName" (click)="showProductOverview = !showProductOverview">White Shirt</td>
                <td>Draft</td>
                <td>470</td>
                <td>Shirt</td>
                <td>Option Matrix</td>
              </tr>
              <tr>
                <td><input type="checkbox"/></td>
                <td class="productName" (click)="showProductOverview = !showProductOverview">White Shirt</td>
                <td>Active</td>
                <td>470</td>
                <td>Shirt</td>
                <td>Option Matrix</td>
              </tr>
              <tr>
                <td><input type="checkbox"/></td>
                <td class="productName" (click)="showProductOverview = !showProductOverview">White Shirt</td>
                <td>Draft</td>
                <td>470</td>
                <td>Shirt</td>
                <td>Option Matrix</td>
              </tr>

            </tbody>
          </table>
        </div>
      </mat-tab>
      <mat-tab label="Active"> 
        <div fxLayout="row" style="margin-top:20px">
          <div class="col-xs-6 ">
          </div>
          <div class="col-xs-6 ">
                <button mat-raised-button color="primary" class="pull-right filters-hover margin-right-10" (click)="filterToggle1 = !filterToggle1">
                  <mat-icon>filter_list</mat-icon> Filter
                </button>
          </div>
        </div>
        <div fxLayout="row wrap" *ngIf="filterToggle1">
          <div fxFlex="100" fxFlex.gt-sm fxFlex.sm class="flex-p w-100 margins">
              <mat-card class="filter">
                  <mat-card-content>
                      <div class="row">
                          <div class="col-sm-4">
                              <div class="col-sm-4 newMarginClass">
                                 Product: 
                              </div>
                              <div class="col-sm-8">
                                  <input type="text" placeholder="Search by Product" class="form-control" >
                              </div>
                          </div>
                          <div class="col-sm-4">
                              <div class="col-sm-4 newMarginClass">
                                 Type: 
                              </div>
                              <div class="col-sm-8">
                                  <input type="text" placeholder="Search by Type" class="form-control" >
                              </div>
                          </div>
                          <div class="col-sm-4">
                              <div class="col-sm-4 newMarginClass">
                                  Vendor: 
                              </div>
                              <div class="col-sm-8">
                                <input type="text" placeholder="Search by Vendor" class="form-control" >
                              </div>
                          </div>
                          
                      </div> 
                      <div class="row" style="padding-top:10px !important">
                        
                          <div class="col-lg-1" style="margin-left:80%!important;">
                              <button mat-raised-button  class="pull-right btn-primary"> Search</button>
                          </div>
                          <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="margin-left: -18px;">
                              <button mat-raised-button style="background-color:#37474f; color:#fff !important" > Clear</button>
                          </div>
                          <a (click)="filterToggle = !filterToggle" class="pull-right" style="font-size: 25px; cursor: pointer; margin-left: 5px;">
                              <i class="fa fa-angle-double-up" aria-hidden="true"></i>
                          </a>
                          
                      </div>
                  </mat-card-content>
              </mat-card>
          </div>
        </div>
        <div class="table-responsive" style="margin-top: 20px;">
          <table>
            <thead>
              <tr>
                <th><input type="checkbox"/></th>
                <th>Product</th>
                <th>Status</th>
                <th>Inventory</th>
                <th>Type</th>
                <th>Vendor</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><input type="checkbox"/></td>
                <td class="productName" (click)="showProductOverview = !showProductOverview">White Shirt</td>
                <td>Active</td>
                <td>470</td>
                <td>Shirt</td>
                <td>Option Matrix</td>
              </tr>
        
            </tbody>
          </table>
        </div>
        
      </mat-tab>
      <mat-tab label="Draft"> 
        <div fxLayout="row" style="margin-top:20px">
          <div class="col-xs-6 ">
          </div>
          <div class="col-xs-6 ">
                <button mat-raised-button color="primary" class="pull-right filters-hover margin-right-10" (click)="filterToggle2 = !filterToggle2" >
                  <mat-icon>filter_list</mat-icon> Filter
                </button>
          </div>
        </div>
        <div fxLayout="row wrap" *ngIf="filterToggle2">
          <div fxFlex="100" fxFlex.gt-sm fxFlex.sm class="flex-p w-100 margins">
              <mat-card class="filter">
                  <mat-card-content>
                      <div class="row">
                          <div class="col-sm-4">
                              <div class="col-sm-4 newMarginClass">
                                 Product: 
                              </div>
                              <div class="col-sm-8">
                                  <input type="text" placeholder="Search by Product" class="form-control" >
                              </div>
                          </div>
                          <div class="col-sm-4">
                              <div class="col-sm-4 newMarginClass">
                                 Type: 
                              </div>
                              <div class="col-sm-8">
                                  <input type="text" placeholder="Search by Type" class="form-control" >
                              </div>
                          </div>
                          <div class="col-sm-4">
                              <div class="col-sm-4 newMarginClass">
                                  Vendor: 
                              </div>
                              <div class="col-sm-8">
                                <input type="text" placeholder="Search by Vendor" class="form-control" >
                              </div>
                          </div>
                          
                      </div> 
                      <div class="row" style="padding-top:10px !important">
                        
                          <div class="col-lg-1" style="margin-left:80%!important;">
                              <button mat-raised-button  class="pull-right btn-primary"> Search</button>
                          </div>
                          <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="margin-left: -18px;">
                              <button mat-raised-button style="background-color:#37474f; color:#fff !important" > Clear</button>
                          </div>
                          <a (click)="filterToggle = !filterToggle" class="pull-right" style="font-size: 25px; cursor: pointer; margin-left: 5px;">
                              <i class="fa fa-angle-double-up" aria-hidden="true"></i>
                          </a>
                          
                      </div>
                  </mat-card-content>
              </mat-card>
          </div>
        </div>
        <div class="table-responsive" style="margin-top: 20px;">
          <table>
            <thead>
              <tr>
                <th><input type="checkbox"/></th>
                <th>Product</th>
                <th>Status</th>
                <th>Inventory</th>
                <th>Type</th>
                <th>Vendor</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><input type="checkbox"/></td>
                <td class="productName" (click)="showProductOverview = !showProductOverview">White Shirt</td>
                <td>Draft</td>
                <td>470</td>
                <td>Shirt</td>
                <td>Option Matrix</td>
              </tr>
        
            </tbody>
          </table>
        </div>
        
      </mat-tab>
      <mat-tab label="Archived">  
        <div fxLayout="row" style="margin-top:20px">
          <div class="col-xs-6 ">
          </div>
          <div class="col-xs-6 ">
                <button mat-raised-button color="primary" class="pull-right filters-hover margin-right-10" (click)="filterToggle3 = !filterToggle3">
                  <mat-icon>filter_list</mat-icon> Filter
                </button>
          </div>
        </div>
        <div fxLayout="row wrap" *ngIf="filterToggle3">
          <div fxFlex="100" fxFlex.gt-sm fxFlex.sm class="flex-p w-100 margins">
              <mat-card class="filter">
                  <mat-card-content>
                      <div class="row">
                          <div class="col-sm-4">
                              <div class="col-sm-4 newMarginClass">
                                 Product: 
                              </div>
                              <div class="col-sm-8">
                                  <input type="text" placeholder="Search by Product" class="form-control" >
                              </div>
                          </div>
                          <div class="col-sm-4">
                              <div class="col-sm-4 newMarginClass">
                                 Type: 
                              </div>
                              <div class="col-sm-8">
                                  <input type="text" placeholder="Search by Type" class="form-control" >
                              </div>
                          </div>
                          <div class="col-sm-4">
                              <div class="col-sm-4 newMarginClass">
                                  Vendor: 
                              </div>
                              <div class="col-sm-8">
                                <input type="text" placeholder="Search by Vendor" class="form-control" >
                              </div>
                          </div>
                          
                      </div> 
                      <div class="row" style="padding-top:10px !important">
                        
                          <div class="col-lg-1" style="margin-left:80%!important;">
                              <button mat-raised-button  class="pull-right btn-primary"> Search</button>
                          </div>
                          <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="margin-left: -18px;">
                              <button mat-raised-button style="background-color:#37474f; color:#fff !important" > Clear</button>
                          </div>
                          <a (click)="filterToggle = !filterToggle" class="pull-right" style="font-size: 25px; cursor: pointer; margin-left: 5px;">
                              <i class="fa fa-angle-double-up" aria-hidden="true"></i>
                          </a>
                          
                      </div>
                  </mat-card-content>
              </mat-card>
          </div>
        </div>
        <div class="table-responsive" style="margin-top: 20px;">
          <table>
            <thead>
              <tr>
                <th><input type="checkbox"/></th>
                <th>Product</th>
                <th>Status</th>
                <th>Inventory</th>
                <th>Type</th>
                <th>Vendor</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><input type="checkbox"/></td>
                <td class="productName" (click)="showProductOverview = !showProductOverview">White Shirt</td>
                <td>Archived</td>
                <td>470</td>
                <td>Shirt</td>
                <td>Option Matrix</td>
              </tr>
        
            </tbody>
          </table>
        </div>
        
      </mat-tab>
    </mat-tab-group>
    <!-- <router-outlet></router-outlet> -->
    
  </div>
</div>

<div class="w-100" fxLayout="column" fxLayoutAlign="center center" *ngIf="showAddProduct">
  <div fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="start center">
      <mat-icon style="cursor: pointer;" (click)="showAddProduct = !showAddProduct">arrow_back</mat-icon> <h4 style="margin-left:20px">Add Product</h4>
    </div>
    <div style="padding:20px;box-shadow:0 0 2px 0 rgba(100,100,100,1);margin-top:20px;border-radius: 5px;width:650px">
      <div>
        <label>Title</label>
        <input type="text" class="form-control" placeholder="Enter Product Title"/>
      </div>
      <div style="margin-top:20px">
        <label>Description</label>
        <textarea rows="3" class="form-control" style="resize: none;"></textarea>
      </div>
    </div>
    <div style="padding:20px;box-shadow:0 0 2px 0 rgba(100,100,100,1);margin-top:20px;border-radius: 5px;width:650px">
      <h4>Media</h4>
      <button mat-raised-button  class="btn-primary" (click)="onClickFileInputButton()" >
        Upload Photo
      </button>
    </div>
    <div style="padding:20px;box-shadow:0 0 2px 0 rgba(100,100,100,1);margin-top:20px;border-radius: 5px;width:650px">
      <h4>Pricing</h4>
      <div fxLayout="row" fxLayoutAlign="space-between center" style="width: 100%;margin-top: 10px;">
        <div style="width: 45%;">
          <label>Price</label>
          <input type="text" class="form-control" placeholder="$0.00"/>
        </div>
        <div style="width: 45%;">
          <label>Compare at Price</label>
          <input type="text" class="form-control" placeholder="$0.00"/>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between center" style="width: 100%;margin-top: 10px;">
        <div style="width: 45%;">
          <label>Cost per Item</label>
          <input type="text" class="form-control" placeholder="$0.00"/>
          <p style="color:rgba(200,200,200,1);margin-top: 2px;">Customers won't see this</p>
        </div>
        <div style="width: 45%;" fxLayout="row" fxLayoutAlign="space-between center">
          <div style="width:45%">
            <label>Margin</label>
            <p>-</p>
          </div>
          <div style="width:45%">
            <label>Profit</label>
            <p>-</p>
          </div >
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center">
        <input type="checkbox"/>
        <p style="margin-left: 15px;margin-top: 10px;">Charge tax on this Product</p>
      </div>
      
    </div>
    <div style="padding:20px;box-shadow:0 0 2px 0 rgba(100,100,100,1);margin-top:20px;border-radius: 5px;width:650px">
      <h4>Inventory</h4>
      <div fxLayout="row" fxLayoutAlign="space-between center" style="width: 100%;margin-top: 10px;">
        <div style="width: 45%;">
          <label>SKU (Stock Keeping Unit)</label>
          <input type="text" class="form-control" placeholder=""/>
        </div>
        <div style="width: 45%;">
          <label>Barcode (ISBN, UPC, GTIN, etc..)</label>
          <input type="text" class="form-control" placeholder=""/>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center">
        <input type="checkbox"/>
        <p style="margin-left: 15px;margin-top: 10px;">Track Quantity</p>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center">
        <input type="checkbox"/>
        <p style="margin-left: 15px;margin-top: 10px;">Continue selling when out of stock</p>
      </div>

      <hr>

      <h5>QUANTITY</h5>

      <div style="width:50%">
        <label>Available</label>
        <input type="number" class="form-control" placeholder="0"/>
      </div>
      
    </div>

    <div style="padding:20px;box-shadow:0 0 2px 0 rgba(100,100,100,1);margin-top:20px;border-radius: 5px;width:650px">
      <h4>Shipping</h4>
      <div fxLayout="row" fxLayoutAlign="start center">
        <input type="checkbox"/>
        <p style="margin-left: 15px;margin-top: 10px;">This is a Physical Product</p>
      </div>
      <p style="margin-top:10px">WEIGHT</p>
      <p style="color:rgba(150,150,150,1)">Used to calculate shipping rates at checkout and label prices during fulfillment.</p>
      <div style="width: 30%;">
        <label>Weight (In K.G)</label>
        <input type="text" class="form-control"/>
      </div>

      <hr>

      <p style="margin-top:10px">CUSTOMS INFORMATION</p>
      <p style="color:rgba(150,150,150,1)">Used by border officers to calculate duties when shipping internationally. Shown on customs forms you print during fulfillment.</p>
      
      <div >
        <label>Country of Origin</label>
        <mat-select class='form-control' placeholder="Select Country">
          <mat-option [value]=1 >INDIA</mat-option>
          <mat-option [value]=2 >BANGLADESH</mat-option>
          <mat-option [value]=3 >NEPAL</mat-option>
          <mat-option [value]=4 >CHINA</mat-option>
        </mat-select>
        <p style="color:rgba(200,200,200,1);margin-top: 2px;">In most cases, where the product is manufactured.</p>
      </div>
      <div >
        <label>HS (Harmonized System) code</label>
        <input type="text" class="form-control" placeholder="Search by Keyword or HS Code"/>
        <p style="color:rgba(200,200,200,1);margin-top: 2px;">Used by border officers to classify this product.</p>
      </div>

      
      
    </div>

    <div style="padding:20px;box-shadow:0 0 2px 0 rgba(100,100,100,1);margin-top:20px;border-radius: 5px;width:650px">
      <h4>Variants</h4>

      <div fxLayout="row" fxLayoutAlign="start center">
        <input #options type="checkbox" (click)="clickedBox()"/>
        <p style="margin-left: 15px;margin-top: 10px;">This product has multiple options, like different sizes or colors</p>
      </div>
      
      <hr>

      <div *ngIf="clicked">
        <p>OPTIONS</p>
        <div fxLayout="row" fxLayoutAlign="space-between flex-end">
          <div style="width: 30%;">
            <label>Option 1</label>
            <mat-select class='form-control' [(value)]="selected">
              <mat-option [value]=1 >SIZE</mat-option>
              <mat-option [value]=2 >COLOR</mat-option>
              <mat-option [value]=3 >MATERIAL</mat-option>
              <mat-option [value]=4 >SIZE</mat-option>
              <mat-option [value]=5 >TYPE</mat-option>
            </mat-select>
          </div>
          <div style="width: 65%;">
            <input type="text" class="form-control" placeholder="Enter Sizes"/>
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between flex-end" style="margin-top: 10px;">
          <div style="width: 30%;">
            <label>Option 2</label>
            <mat-select class='form-control' [(value)]="selected">
              <mat-option [value]=1 >COLOR</mat-option>
              <mat-option [value]=2 >SIZE</mat-option>
              <mat-option [value]=3 >MATERIAL</mat-option>
              <mat-option [value]=4 >SIZE</mat-option>
              <mat-option [value]=5 >TYPE</mat-option>
            </mat-select>
          </div>
          <div style="width: 65%;">
            <input type="text" class="form-control" placeholder="Enter Colors"/>
          </div>
        </div>
      </div>

      
      
    </div>
    <mat-dialog-actions align="end" style="margin-left: 68%;margin-top: 20px;">
      <!-- <button mat-raised-button class="CancelClass" (click)="showAddProduct = !showAddProduct" style="margin-right:10px" >Back</button> -->
      <button mat-raised-button class="btn-primary"  >Save</button>
      
    </mat-dialog-actions>
  </div>
</div>

<app-product-overview *ngIf="showProductOverview" (newItemEvent)="exitProductOverview($event)">

</app-product-overview>
