<!-- <div class="loginForm">
            
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
      
        <img class="logo" src="../../assets/images/logo.png"/>
        
        <div class="form-div">
            <div class="usernamediv">
                <i class="fa fa-user fa-lg" aria-hidden="true"></i>
                <input type="text" id="username"  formControlName="username" placeholder="Username" class="form-input"/>
            </div>
        </div>
        
        <div class="form-div">
            <div class="passworddiv">
                <i class="fa fa-key fa-lg" aria-hidden="true"></i>
                <input type="password" id="password" formControlName="password" placeholder="Password" class="form-input"/>
            </div>
        </div>
        
        <div class="form-div" >
            <button type="submit" id="submit">Login</button>
        </div>
    </form>
</div>   -->

<div *ngIf="!show_next" fxLayout="column" fxLayoutAlign="center center">
    <img style="margin-top: 20px;" src="../../assets/images/logo_ai.png" />

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
        <div style="box-shadow: 0 0 5px 2px rgba(230,230,230,1);border-radius: 5px;margin-top: 50px;padding:20px;width: 400px;">
            <h2>Login</h2>
            <label style="margin-top: 10px;">Email or mobile phone number</label>
            <input type="text" class="form-control" formControlName="username"/>
            <input type="submit" class="form-control btn-primary" style="margin-top: 15px;border-radius: 5px;" value="Continue">


        </div>
    </form>

    <p style="margin-top: 30px;">&#169; 2010-2022, EAI Retail LLP</p>

</div>

<app-login2 *ngIf="show_next" (newItemEvent)="gotoLogin($event)" [username]="username" [username_entered]="username_entered"></app-login2>
