<div class="nav-tab-layout">
  <div class="nav-tab">
    <ul class="nav-tab-pills">
      <li routerLinkActive="active">
        <a  [routerLink]="['/eai/products/all']">All Products</a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['/eai/products/inventory']">Inventory</a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['/eai/products/transfers']">Transfers</a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['/eai/products/collections']">Collections</a>
      </li>
    </ul>
  </div>
 </div>
<div class="routing-layout">
  
  <router-outlet></router-outlet>
</div>