<div class="w-100" fxLayout="column" fxLayoutAlign="center center">
  <div fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="start center">
      <mat-icon style="cursor: pointer;" (click)="exitAddTransfer(false)">arrow_back</mat-icon> <h4 style="margin-left:20px">Add Transfer</h4>
    </div>
    <div fxLayout="row" style="margin-top: 20px;">
      <div fxLayout="column">
        
        <div fxLayout="column" style="box-shadow:0 0 2px 0 rgba(100,100,100,1);border-radius: 5px;padding:20px;background: white;width: 600px;">
          <h4>Products</h4>
          <div fxLayout="row" fxLayoutAlign="space-between center" style="margin-bottom: 20px;">
            <div style="width: 65%;">
              <input type="text" class="form-control" placeholder="Search Products"/>
            </div>
            <button mat-raised-button style="margin-left: 10px;">Browse Products</button>
          </div>
          <hr>
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="row" fxLayoutAlign="space-between center" style="width:30%">
              <img src="../../../../../assets/images/whiteshirt.jpg" style="width:75px;height:50px" />
              <p>White Shirt</p>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between center" style="width:30%"  >
              <div style="width:60%">
                <input type="text" class="form-control"/>
              </div>
              <mat-icon>close</mat-icon>
            </div>
          </div>
          <hr>
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="row" fxLayoutAlign="space-between center" style="width:30%">
              <div style="width:75px;height:50px" ></div>
              <div fxLayout="column">
                <p>L/ Black</p>
                <p>SKU: 23461</p>
              </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between center" style="width:30%"  >
              <div style="width:60%">
                <input type="text" class="form-control"/>
              </div>
              <mat-icon>close</mat-icon>
            </div>
          </div>
          <hr>
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="row" fxLayoutAlign="space-between center" style="width:30%">
              <div style="width:75px;height:50px" ></div>
              <div fxLayout="column">
                <p>L/ White</p>
                <p>SKU: 23460</p>
              </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between center" style="width:30%"  >
              <div style="width:60%">
                <input type="text" class="form-control"/>
              </div>
              <mat-icon>close</mat-icon>
            </div>
          </div>
          <hr>
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="row" fxLayoutAlign="space-between center" style="width:30%">
              <div style="width:75px;height:50px" ></div>
              <div fxLayout="column">
                <p>M/ Black</p>
                <p>SKU: 23459</p>
              </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between center" style="width:30%"  >
              <div style="width:60%">
                <input type="text" class="form-control"/>
              </div>
              <mat-icon>close</mat-icon>
            </div>
          </div>
          <hr>
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="row" fxLayoutAlign="space-between center" style="width:30%">
              <div style="width:75px;height:50px" ></div>
              <div fxLayout="column">
                <p>M/ White</p>
                <p>SKU: 23458</p>
              </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between center" style="width:30%"  >
              <div style="width:60%">
                <input type="text" class="form-control"/>
              </div>
              <mat-icon>close</mat-icon>
            </div>
          </div>
          <hr>
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="row" fxLayoutAlign="space-between center" style="width:30%">
              <div style="width:75px;height:50px" ></div>
              <div fxLayout="column">
                <p>S/ Black</p>
                <p>SKU: 23457</p>
              </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between center" style="width:30%"  >
              <div style="width:60%">
                <input type="text" class="form-control"/>
              </div>
              <mat-icon>close</mat-icon>
            </div>
          </div>
          <hr>
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="row" fxLayoutAlign="space-between center" style="width:30%">
              <div style="width:75px;height:50px" ></div>
              <div fxLayout="column">
                <p>S/ White</p>
                <p>SKU: 23456</p>
              </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between center" style="width:30%"  >
              <div style="width:60%">
                <input type="text" class="form-control"/>
              </div>
              <mat-icon>close</mat-icon>
            </div>
          </div>
          
        </div>
        
      </div>
      <div fxLayout="column" style="margin-left: 30px;">
        <div fxLayout="column" style="box-shadow:0 0 2px 0 rgba(100,100,100,1);border-radius: 5px;padding:20px;background: white;width: 300px;">
          <div fxLayout="row" fxLayoutAlign="start center">
            <h4>Origin</h4>
          </div>
          <div style="margin-top: 20px;">
            <input type="text" class="form-control" placeholder="Search Suppliers or locations"/>
          </div>
          
        </div>
        <div fxLayout="column" style="box-shadow:0 0 2px 0 rgba(100,100,100,1);border-radius: 5px;padding:20px;background: white;width: 300px;margin-top: 20px;">
          <div fxLayout="row" fxLayoutAlign="start center">
            <h4>Shipment</h4>
          </div>
          <div style="margin-top: 20px;">
            <p>Expected Arrival</p>
            <input type="date" class="form-control" />
          </div>
          <hr>

          <div fxLayout="row" >
            <p style="color: blue;">+ Add Tracking Number</p>
          </div>
          
        </div>
        <div fxLayout="column" style="box-shadow:0 0 2px 0 rgba(100,100,100,1);border-radius: 5px;padding:20px;background: white;width: 300px;margin-top: 20px;">
          <div fxLayout="row" fxLayoutAlign="start center">
            <h4>Additional Details</h4>
          </div>
          <div style="margin-top: 20px;">
            <p>Reference Number</p>
            <input type="text" class="form-control" />
          </div>
          <hr>

          <div style="margin-top: 10px;">
            <p>Tags</p>
            <input type="text" class="form-control" placeholder="Enter tags"/>
          </div>

        </div>
      </div>
    </div>
    <mat-dialog-actions align="end" style="margin-left: 68%;margin-top: 20px;">
      <!-- <button mat-raised-button class="CancelClass" (click)="showAddProduct = !showAddProduct" style="margin-right:10px" >Back</button> -->
      <button mat-raised-button class="btn-primary"  >Save Transfer</button>
      
    </mat-dialog-actions>
  </div>
</div>