<div class="w-100">
  <div class="container">
    <div fxLayout="row" fxLayoutAlign="flex-start center" style="margin-top:30px;padding:15px">
      <h3 style="color: rgb(202,96,78);font-weight: bold;background: rgba(255,255,255,0.8);box-shadow: 0 0 5px 2px rgba(255,255,255,0.8);">Wishlisted Items</h3>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="space-between center" style="width: 100%;margin-top:10px">
      <div fxLayout="column" fxLayoutAlign="center center" style="background: white;padding:15px;border-radius: 10px;width:280px" >
        <img [routerLink]="['/product']" src="../../../assets/images/pick1.webp" style="width: 250px;height: 350px;" />
        <button style="background: rgb(199,157,107);color: white;border:none;border-radius:5px;padding:5px 10px;margin-top:10px">Jaipur Wonders</button>
        <p style="margin-top:10px">Pink And Coral Shaded Anarkali Dress With Bandhani And Foil Print</p>
        <p style="color:rgb(199,157,107) ;">Rs. 2700</p>
        <button style="background: rgb(239,239,239);color: black;border:none;border-radius:5px;padding:5px 10px;margin-top:10px">Add to Cart</button>
      </div>
      <div fxLayout="column" fxLayoutAlign="center center" style="background: white;padding:15px;border-radius: 10px;width:280px">
        <img [routerLink]="['/product']" src="../../../assets/images/pick2.webp"  style="width: 250px;height: 350px;"/>
        <button style="background: rgb(199,157,107);color: white;border:none;border-radius:5px;padding:5px 10px;margin-top:10px">The Dyed Delights</button>
        <p style="margin-top:10px">Pink And Coral Shaded Anarkali Dress With Bandhani And Foil Print</p>
        <p style="color:rgb(199,157,107) ;">Rs. 2700</p>
        <button style="background: rgb(239,239,239);color: black;border:none;border-radius:5px;padding:5px 10px;margin-top:10px">Add to Cart</button>

      </div>
      <div fxLayout="column" fxLayoutAlign="center center" style="background: white;padding:15px;border-radius: 10px;width:280px">
        <img [routerLink]="['/product']" src="../../../assets/images/pick3.webp" style="width: 250px;height: 350px;"/>
        <button style="background: rgb(199,157,107);color: white;border:none;border-radius:5px;padding:5px 10px;margin-top:10px">Flawless Florals</button>
        <p style="margin-top:10px">Pink And Coral Shaded Anarkali Dress With Bandhani And Foil Print</p>
        <p style="color:rgb(199,157,107) ;">Rs. 2700</p>
        <button style="background: rgb(239,239,239);color: black;border:none;border-radius:5px;padding:5px 10px;margin-top:10px">Add to Cart</button>

      </div>
      
    </div>

    <div fxLayout="row" fxLayoutAlign="flex-start center" style="margin-top:30px;padding:15px">
      <h3 style="color: rgb(202,96,78);font-weight: bold;background: rgba(255,255,255,0.8);box-shadow: 0 0 5px 2px rgba(255,255,255,0.8);">More Items to Explore</h3>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="space-between center" style="width: 100%;margin-top:10px">
      <div fxLayout="column" fxLayoutAlign="center center" style="background: white;padding:15px;border-radius: 10px;width:280px" >
        <img [routerLink]="['/product']" src="../../../assets/images/rec1.webp" style="width: 250px;height: 350px;" />
        <button style="background: rgb(199,157,107);color: white;border:none;border-radius:5px;padding:5px 10px;margin-top:10px">Jaipur Wonders</button>
        <p style="margin-top:10px">Pink And Coral Shaded Anarkali Dress With Bandhani And Foil Print</p>
        <p style="color:rgb(199,157,107) ;">Rs. 2700</p>
        <button style="background: rgb(239,239,239);color: black;border:none;border-radius:5px;padding:5px 10px;margin-top:10px">Add to Cart</button>
      </div>
      <div fxLayout="column" fxLayoutAlign="center center" style="background: white;padding:15px;border-radius: 10px;width:280px">
        <img [routerLink]="['/product']" src="../../../assets/images/rec2.webp"  style="width: 250px;height: 350px;"/>
        <button style="background: rgb(199,157,107);color: white;border:none;border-radius:5px;padding:5px 10px;margin-top:10px">The Dyed Delights</button>
        <p style="margin-top:10px">Pink And Coral Shaded Anarkali Dress With Bandhani And Foil Print</p>
        <p style="color:rgb(199,157,107) ;">Rs. 2700</p>
        <button style="background: rgb(239,239,239);color: black;border:none;border-radius:5px;padding:5px 10px;margin-top:10px">Add to Cart</button>

      </div>
      <div fxLayout="column" fxLayoutAlign="center center" style="background: white;padding:15px;border-radius: 10px;width:280px">
        <img [routerLink]="['/product']" src="../../../assets/images/rec3.webp" style="width: 250px;height: 350px;"/>
        <button style="background: rgb(199,157,107);color: white;border:none;border-radius:5px;padding:5px 10px;margin-top:10px">Flawless Florals</button>
        <p style="margin-top:10px">Pink And Coral Shaded Anarkali Dress With Bandhani And Foil Print</p>
        <p style="color:rgb(199,157,107) ;">Rs. 2700</p>
        <button style="background: rgb(239,239,239);color: black;border:none;border-radius:5px;padding:5px 10px;margin-top:10px">Add to Cart</button>

      </div>
      
    </div>

    <div fxLayout="row" fxLayoutAlign="flex-start center" style="margin-top:30px;padding:15px">
      <h3 style="color: rgb(202,96,78);font-weight: bold;background: rgba(255,255,255,0.8);box-shadow: 0 0 5px 2px rgba(255,255,255,0.8);">Customers also Liked</h3>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="space-between center" style="width: 100%;margin-top:10px">
      <div fxLayout="column" fxLayoutAlign="center center" style="background: white;padding:15px;border-radius: 10px;width:280px" >
        <img [routerLink]="['/product']" src="../../../assets/images/rec1.webp" style="width: 250px;height: 350px;" />
        <button style="background: rgb(199,157,107);color: white;border:none;border-radius:5px;padding:5px 10px;margin-top:10px">Jaipur Wonders</button>
        <p style="margin-top:10px">Pink And Coral Shaded Anarkali Dress With Bandhani And Foil Print</p>
        <p style="color:rgb(199,157,107) ;">Rs. 2700</p>
        <button style="background: rgb(239,239,239);color: black;border:none;border-radius:5px;padding:5px 10px;margin-top:10px">Add to Cart</button>
      </div>
      <div fxLayout="column" fxLayoutAlign="center center" style="background: white;padding:15px;border-radius: 10px;width:280px">
        <img [routerLink]="['/product']" src="../../../assets/images/rec2.webp"  style="width: 250px;height: 350px;"/>
        <button style="background: rgb(199,157,107);color: white;border:none;border-radius:5px;padding:5px 10px;margin-top:10px">The Dyed Delights</button>
        <p style="margin-top:10px">Pink And Coral Shaded Anarkali Dress With Bandhani And Foil Print</p>
        <p style="color:rgb(199,157,107) ;">Rs. 2700</p>
        <button style="background: rgb(239,239,239);color: black;border:none;border-radius:5px;padding:5px 10px;margin-top:10px">Add to Cart</button>

      </div>
      <div fxLayout="column" fxLayoutAlign="center center" style="background: white;padding:15px;border-radius: 10px;width:280px">
        <img [routerLink]="['/product']" src="../../../assets/images/rec3.webp" style="width: 250px;height: 350px;"/>
        <button style="background: rgb(199,157,107);color: white;border:none;border-radius:5px;padding:5px 10px;margin-top:10px">Flawless Florals</button>
        <p style="margin-top:10px">Pink And Coral Shaded Anarkali Dress With Bandhani And Foil Print</p>
        <p style="color:rgb(199,157,107) ;">Rs. 2700</p>
        <button style="background: rgb(239,239,239);color: black;border:none;border-radius:5px;padding:5px 10px;margin-top:10px">Add to Cart</button>

      </div>
      
    </div>

    <div fxLayout="row" fxLayoutAlign="flex-start center" style="margin-top:30px;padding:15px">
      <h3 style="color: rgb(202,96,78);font-weight: bold;background: rgba(255,255,255,0.8);box-shadow: 0 0 5px 2px rgba(255,255,255,0.8);">Cutsomers who bought items in your cart also bought in other categories</h3>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="space-between center" style="width: 100%;margin-top:10px">
      <div fxLayout="column" fxLayoutAlign="center center" style="background: white;padding:15px;border-radius: 10px;width:280px" >
        <img [routerLink]="['/product']" src="../../../assets/images/rec1.webp" style="width: 250px;height: 350px;" />
        <button style="background: rgb(199,157,107);color: white;border:none;border-radius:5px;padding:5px 10px;margin-top:10px">Jaipur Wonders</button>
        <p style="margin-top:10px">Pink And Coral Shaded Anarkali Dress With Bandhani And Foil Print</p>
        <p style="color:rgb(199,157,107) ;">Rs. 2700</p>
        <button style="background: rgb(239,239,239);color: black;border:none;border-radius:5px;padding:5px 10px;margin-top:10px">Add to Cart</button>
      </div>
      <div fxLayout="column" fxLayoutAlign="center center" style="background: white;padding:15px;border-radius: 10px;width:280px">
        <img [routerLink]="['/product']" src="../../../assets/images/rec2.webp"  style="width: 250px;height: 350px;"/>
        <button style="background: rgb(199,157,107);color: white;border:none;border-radius:5px;padding:5px 10px;margin-top:10px">The Dyed Delights</button>
        <p style="margin-top:10px">Pink And Coral Shaded Anarkali Dress With Bandhani And Foil Print</p>
        <p style="color:rgb(199,157,107) ;">Rs. 2700</p>
        <button style="background: rgb(239,239,239);color: black;border:none;border-radius:5px;padding:5px 10px;margin-top:10px">Add to Cart</button>

      </div>
      <div fxLayout="column" fxLayoutAlign="center center" style="background: white;padding:15px;border-radius: 10px;width:280px">
        <img [routerLink]="['/product']" src="../../../assets/images/rec3.webp" style="width: 250px;height: 350px;"/>
        <button style="background: rgb(199,157,107);color: white;border:none;border-radius:5px;padding:5px 10px;margin-top:10px">Flawless Florals</button>
        <p style="margin-top:10px">Pink And Coral Shaded Anarkali Dress With Bandhani And Foil Print</p>
        <p style="color:rgb(199,157,107) ;">Rs. 2700</p>
        <button style="background: rgb(239,239,239);color: black;border:none;border-radius:5px;padding:5px 10px;margin-top:10px">Add to Cart</button>

      </div>
      
    </div>

    <div fxLayout="row" fxLayoutAlign="flex-start center" style="margin-top:30px;padding:15px">
      <h3 style="color: rgb(202,96,78);font-weight: bold;background: rgba(255,255,255,0.8);box-shadow: 0 0 5px 2px rgba(255,255,255,0.8);">Top Picks for you</h3>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="space-between center" style="width: 100%;margin-top:10px">
      <div fxLayout="column" fxLayoutAlign="center center" style="background: white;padding:15px;border-radius: 10px;width:280px" >
        <img [routerLink]="['/product']" src="../../../assets/images/rec1.webp" style="width: 250px;height: 350px;" />
        <button style="background: rgb(199,157,107);color: white;border:none;border-radius:5px;padding:5px 10px;margin-top:10px">Jaipur Wonders</button>
        <p style="margin-top:10px">Pink And Coral Shaded Anarkali Dress With Bandhani And Foil Print</p>
        <p style="color:rgb(199,157,107) ;">Rs. 2700</p>
        <button style="background: rgb(239,239,239);color: black;border:none;border-radius:5px;padding:5px 10px;margin-top:10px">Add to Cart</button>
      </div>
      <div fxLayout="column" fxLayoutAlign="center center" style="background: white;padding:15px;border-radius: 10px;width:280px">
        <img [routerLink]="['/product']" src="../../../assets/images/rec2.webp"  style="width: 250px;height: 350px;"/>
        <button style="background: rgb(199,157,107);color: white;border:none;border-radius:5px;padding:5px 10px;margin-top:10px">The Dyed Delights</button>
        <p style="margin-top:10px">Pink And Coral Shaded Anarkali Dress With Bandhani And Foil Print</p>
        <p style="color:rgb(199,157,107) ;">Rs. 2700</p>
        <button style="background: rgb(239,239,239);color: black;border:none;border-radius:5px;padding:5px 10px;margin-top:10px">Add to Cart</button>

      </div>
      <div fxLayout="column" fxLayoutAlign="center center" style="background: white;padding:15px;border-radius: 10px;width:280px">
        <img [routerLink]="['/product']" src="../../../assets/images/rec3.webp" style="width: 250px;height: 350px;"/>
        <button style="background: rgb(199,157,107);color: white;border:none;border-radius:5px;padding:5px 10px;margin-top:10px">Flawless Florals</button>
        <p style="margin-top:10px">Pink And Coral Shaded Anarkali Dress With Bandhani And Foil Print</p>
        <p style="color:rgb(199,157,107) ;">Rs. 2700</p>
        <button style="background: rgb(239,239,239);color: black;border:none;border-radius:5px;padding:5px 10px;margin-top:10px">Add to Cart</button>

      </div>
      
    </div>
  </div>

</div>
