<div id="country-dialog" style="background: rgb(68,68,68);height:60px">
  <!-- <div style="margin-top: 7px;margin-right: 20px;">
    <p style="color: rgba(230,230,230,1);">Choose another country or region to see content specify to you location</p>
  </div> -->
  <div style="margin-left:10px">
    <select style="width:200px;border-radius:5px;padding:5px 8px;background:rgb(88, 87, 87);color: white;">
      <option>Australia</option>
      <option>U.A.E</option>
      <option>UK</option>
      <option>Canada</option>
      <option>USA</option>
    </select>
  </div>
  <div style="margin-left:30px">
    <select style="width:200px;border-radius:5px;padding:5px 8px;background:rgb(88, 87, 87);color: white;">
      <option>AUS $</option>
      <option>DIRHAM</option>
      <option>POUND</option>
      <option>CAN $</option>
      <option>US $</option>
    </select>
  </div>
  <div>
    <button style="padding:5px 10px;border:none;border-radius:5px;margin-left:30px;background:linear-gradient(#42a1ec, #0070c9);color: white;">Continue</button>
  </div>
  <!-- <div style="margin-top: 7px;">
    <button style="background: rgb(68,68,68);border: none;outline: none;margin-left:10px" (click)="closeDialog()"><mat-icon style="color: white;">close</mat-icon></button>
  </div> -->
</div>

<div id="search-mobile">
  <div>
    <input type="text" class="form-control" />
    <button style="padding:5px 10px;border:none;border-radius:5px;margin-left:10px;background:linear-gradient(#42a1ec, #0070c9);color: white;">Search</button>
  </div>  
</div>
<nav fxLayout="row" fxLayoutAlign="space-between center">
  <a class="menu-phone" style="cursor: pointer;"><mat-icon style="color: black;" (click)="viewCategories()">menu</mat-icon></a>
  
  <div fxLayout="row" fxLayoutAlign="center center" class="logo" [routerLink]="['/home']">
    <img src="../../assets/images/logo_web.png" style="height: 100px;"/>
  </div>
  <div class="search" >
    <input type="text" class="inputSearch"/>
    <button style="padding:5px 10px;border:none;border-radius:5px;margin-left:10px;background:linear-gradient(rgb(247,212,131), rgb(236,176,105));color: rgba(40,40,40,1);">Search</button>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center" style="margin-top:10px">
    <!-- <div *ngIf="!loggedIn" fxLayout="column" fxLayoutAlign="center center" class="icons" (click)="gotoLogin()">
      <mat-icon>login</mat-icon>
      <p>Login</p>
    </div> -->
    <div fxLayout="column" fxLayoutAlign="center flex-start" class="icons" >
      <p>Hello,</p>
      <p style="transform: scale(1.2);margin-top: -8px;">Sign Up</p>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center" class="icons" [routerLink]="['/account']">
      <mat-icon>account_box</mat-icon>
      <p>My Account</p>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center" class="icons" [routerLink]="['/wishlist']">
      <mat-icon>favorite_border</mat-icon>
      <p>Wishlist</p>
    </div>
    <!-- <div fxLayout="column" fxLayoutAlign="center center" class="icons">
      <mat-icon>local_shipping</mat-icon>
      <p>My Orders</p>
    </div> -->
    
    <div fxLayout="column" fxLayoutAlign="center center" class="icons cartbox">
      <mat-icon>shopping_cart</mat-icon>
      <p>Cart</p>
      <div class="cartdiv">
        <p>Subtotal (3 items) : 1560</p>
        <button style="padding:5px 10px;border:none;border-radius:5px;background:linear-gradient(rgb(247,212,131), rgb(236,176,105));color: rgba(40,40,40,1);width: 100%;" [routerLink]="['/cart']">Proceed to Buy</button>
      </div>
    </div> 
  </div>
</nav>
<div class="categories">
  <div fxLayout="row" fxLayoutAlign="space-around center" style="width:80%">
    <div>
      <a>SALWAR KAMEEZ<span class="caret"></span></a>
    </div>
    <div>
      <a>SAREE<span class="caret"></span></a>
    </div>
    <div>
      <a>SAREE BLOUSE<span class="caret"></span></a>
    </div>
    <div>
      <a>LEHENGAS<span class="caret"></span></a>
    </div>
    <div>
      <a>GOWNS<span class="caret"></span></a>
    </div>
    <div>
      <a>KURTAS<span class="caret"></span></a>
    </div>
    <div>
      <a>BRIDALS<span class="caret"></span></a>
    </div>
    <div>
      <a>NEW ARRIVALS<span class="caret"></span></a>
    </div>
    <div>
      <a>SALE<span class="caret"></span></a>
    </div>
    <div>
      <a>BEST SELLERS<span class="caret"></span></a>
    </div>
    
  </div>
</div>

<router-outlet perfectScrollbar></router-outlet>

<footer class="w-100" fxLayout="column" fxLayoutAlign="center center" style="background: rgb(246, 247, 248);padding:20px;margin-top: 30px;">
  <div style="width: 80%;" fxLayout="row" fxLayoutAlign="space-between flex-start">
    <div fxLayout="column">
      <h4>ONLINE SHOPPING</h4>
      <div fxLayout="column" style="color:rgba(140,140,140,1)">
        <p>Men</p>
        <p>Women</p>
        <p>Kids</p>
        <p>Offers</p>
      </div>

    </div>
    <div fxLayout="column">
      <h4>USEFUL LINKS</h4>
      <div fxLayout="column" style="color:rgba(140,140,140,1)">
        <p>Contact Us</p>
        <p>FAQ</p>
        <p>T&C</p>
        <p>Terms Of Use</p>
        <p>Track Orders</p>
        <p>Shipping</p>
        <p>Cancellation</p>
        <p>Returns</p>
        <p>Whitehat</p>
        <p>Blog</p>
        <p>Careers</p>
        <p>Privacy Policy</p>
      </div>
    </div>
    <div fxLayout="column">
      <h4>EXPERIENCE EAnythingIndian APP ON MOBILE</h4>
      <div fxLayout="row">
        <img src="../../assets/images/play.png" style="width:150px;height:50px;margin-right: 10px;"/>
        <img src="../../assets/images/appstore.png" style="width:150px;height:50px"/>

      </div>
      <h4 style="margin-top: 40px;">KEEP IN TOUCH</h4>
      <div fxLayout="row">
        <img src="../../assets/images/facebook.png" style="width:30px;height:30px;margin-right: 10px;"/>
        <img src="../../assets/images/twitter.png" style="width:30px;height:30px;margin-right: 10px;"/>
        <img src="../../assets/images/youtube.png" style="width:30px;height:30px;margin-right: 10px;"/>
        <img src="../../assets/images/instagram.png" style="width:30px;height:30px;margin-right: 10px;"/>

      </div>
    </div>
    <div fxLayout="column" fxLayoutAlign="flex-start flex-start" style="margin-top: 20px;">
      <div fxLayout="row" fxLayoutAlign="center center">
        <img src="../../assets/images/original.png" style="width:40px;height: 40px;margin-right: 10px;"/>
        <h4>100% ORIGINAL</h4>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center" style="margin-top: 10px;">
        <img src="../../assets/images/shipping.png" style="width:40px;height: 40px;margin-right: 10px;"/>
        <h4>INTERNATIONAL SHIPPING</h4>
      </div>
    </div>
  </div>

  <div style="width: 80%;margin-top:30px" fxLayout="column">
    <h4 class="popular">POPULAR SEARCHES</h4>
    <div style="color:rgba(140,140,140,1);margin-top: 20px;">
      <p style="line-height: 30px">Makeup | Dresses For Girls | T-Shirts | Sandals | Blazers For Men | Handbags | Ladies Watches | Bags
         | Wallets | Tops | Earrings | Kurtis | Designer Blouse | Gowns | Rings | Punjabi Suits | Lipstick
          | Saree | Dresses | Lehenga | Suit | Chinos | Designers Sarees
      </p>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center" style="color:rgba(140,140,140,1);margin-top: 20px;">
      <p>In Case of any Concern, <span style="color: blue;font-size: 18px;">Contact Us</span></p>
      <p>&#169; 2020 www.ethnic.optionmatrix.org. All rights reserved.</p>

    </div>
  </div>
  

</footer>

<div class="w-100" id="privacy-dialog" style="background: rgb(240,239,237);padding:20px">
  <div style="width:60%;" fxLayout="column" fxLayoutAlign="center center">
    <p style="font-size: 18px;color: black;font-weight: bold;">We value your privacy</p>
    <p>In order to run a successful website, we and certain third parties are setting cookies and storing information to personalise your experience. We require your consent for doing so.</p>
    <button style="padding:8px 10px;background: rgb(157,58,34);color: white;border: none;outline: none;border-radius: 5px;" (click)="closePrivacyDialog()">I Agree</button>
  </div>
  


</div>

<div fxLayout="row" fxLayoutAlign="center center" class="back-to-top transition-2" (click)="scrollToTop();">
  <mat-icon>arrow_upward</mat-icon>
</div>

<!-- Resposive  -->
<div id="categories-mobile">
  <div fxLayout="column" fxLayoutAlign="flex-start center" style="width:70%;background: white;">
    <a >Category 1</a>
    <a>Category 2</a>
    <a>Category 3</a>
    <a>Category 4</a>
    <a>Category 5</a>
    <a>Category 6</a>
    <a>Category 7</a>
    <a>Category 8</a>
    <a>Category 9</a>
  </div>
  <div  fxLayout="row">
    <a style="margin-left:20px;margin-top:20px;cursor: pointer;" (click)="closeCategories()"><mat-icon style="color:white;">close</mat-icon></a>
  </div>
</div>

<div class="w-100 h-100" id="subscribe-dialog">
  <div class="scale-transition" fxLayout="column" fxLayoutAlign="center center" style="width:500px;height:500px;background: rgba(255,255,255,1);border-radius: 50%;">
    <div fxLayout="row" fxLayoutAlign="center center" (click)="closeSubscribeDialog()" style="width: 30px;height: 30px;background: white;border: 1px solid black;border-radius: 50%;margin-left:360px;overflow: hidden;">
      <button style="border: none;outline: none;background: white;margin-top: 7px;"><mat-icon>close</mat-icon></button>
    </div>
    <div  style="display:flex;flex-direction:column;align-items: center;justify-content: flex-start;width:350px;height:350px;">
      <p style="font-size:25px;font-weight: bold;font-family: Brush Script MT, Brush Script Std, cursive;">
        Sign Up to 
      </p>
      <p  style="font-size:25px;font-weight: bold;font-family: Brush Script MT, Brush Script Std, cursive;">
        receive exclusive
      </p>
      <p  style="font-size:25px;font-weight: bold;font-family: Brush Script MT, Brush Script Std, cursive;">
        offers & news
      </p>
      <div fxLayout="row" style="margin-top:15px">
        <input type="text" style="padding:8px 10px;width: 120px;margin-right: 30px;" placeholder="First Name"/>
        <input type="text" style="padding:8px 10px;width: 120px;" placeholder="Last Name"/>
      </div>
      <div style="margin-top:15px">
        <input type="text" style="padding: 8px 10px;width:270px" placeholder="Phone Number"/>
      </div>
      <div style="margin-top:15px">
        <input type="text" style="padding:8px 10px;width: 270px;" placeholder="Enter your Email"/>
      </div>
      <div style="margin-top:15px">
        <button style="padding: 8px 10px;width: 180px;background: rgba(0,0,0,1);color: white;border: none;outline:none">SUBSCRIBE</button>
      </div>
    </div>

  </div>

</div>

