<div fxLayout="row">
  <div class="col-xs-3 ">
  </div>
  <div class="col-xs-9 ">
      
          <button mat-raised-button class="pull-right  btn-primary" (click)="openAddProductDialog()" >
            <mat-icon>add</mat-icon> Add Product
          </button>
          <button mat-raised-button  class="pull-right  btn-primary margin-right-10" (click)="openImportDialog()" >
            Import
          </button>
          <button mat-raised-button  class="pull-right  btn-primary margin-right-10" (click)="openExportDialog()">
            Export
          </button>
          
  </div>
</div>
<div class="routing-table-layout">
  <!-- <div class="routing-table-tab">
    <a routerLinkActive="active" [routerLink]="['/vendor/products/all/all']">All</a>
    <a routerLinkActive="active" [routerLink]="['/vendor/products/all/active']">Active</a>
    <a routerLinkActive="active" [routerLink]="['/vendor/products/all/draft']">Draft</a>
    <a routerLinkActive="active" [routerLink]="['/vendor/products/all/archived']">Archived</a>
  </div> -->
  <mat-tab-group>
    <mat-tab label="All"> 
      
      <div fxLayout="row" style="margin-top:20px">
        <div class="col-xs-6 ">
        </div>
        <div class="col-xs-6 ">
              <button mat-raised-button color="primary" class="pull-right filters-hover margin-right-10" >
                <mat-icon>filter_list</mat-icon> Filter
              </button>
        </div>
      </div>
      <div class="table-responsive" style="margin-top: 20px;">
        <table>
          <thead>
            <tr>
              <th><input type="checkbox"/></th>
              <th>Product</th>
              <th>Status</th>
              <th>Inventory</th>
              <th>Type</th>
              <th>Vendor</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><input type="checkbox"/></td>
              <td class="productName">White Shirt</td>
              <td>Draft</td>
              <td>470</td>
              <td>Shirt</td>
              <td>Option Matrix</td>
            </tr>
            <tr>
              <td><input type="checkbox"/></td>
              <td class="productName">White Shirt</td>
              <td>Active</td>
              <td>470</td>
              <td>Shirt</td>
              <td>Option Matrix</td>
            </tr>
            <tr>
              <td><input type="checkbox"/></td>
              <td class="productName">Archived</td>
              <td>Draft</td>
              <td>470</td>
              <td>Shirt</td>
              <td>Option Matrix</td>
            </tr>

          </tbody>
        </table>
      </div>
    </mat-tab>
    <mat-tab label="Active"> 
      <div fxLayout="row" style="margin-top:20px">
        <div class="col-xs-6 ">
        </div>
        <div class="col-xs-6 ">
              <button mat-raised-button color="primary" class="pull-right filters-hover margin-right-10" >
                <mat-icon>filter_list</mat-icon> Filter
              </button>
        </div>
      </div>
      <div class="table-responsive" style="margin-top: 20px;">
        <table>
          <thead>
            <tr>
              <th><input type="checkbox"/></th>
              <th>Product</th>
              <th>Status</th>
              <th>Inventory</th>
              <th>Type</th>
              <th>Vendor</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><input type="checkbox"/></td>
              <td class="productName">White Shirt</td>
              <td>Active</td>
              <td>470</td>
              <td>Shirt</td>
              <td>Option Matrix</td>
            </tr>
      
          </tbody>
        </table>
      </div>
      
    </mat-tab>
    <mat-tab label="Draft"> 
      <div fxLayout="row" style="margin-top:20px">
        <div class="col-xs-6 ">
        </div>
        <div class="col-xs-6 ">
              <button mat-raised-button color="primary" class="pull-right filters-hover margin-right-10" >
                <mat-icon>filter_list</mat-icon> Filter
              </button>
        </div>
      </div>
      <div class="table-responsive" style="margin-top: 20px;">
        <table>
          <thead>
            <tr>
              <th><input type="checkbox"/></th>
              <th>Product</th>
              <th>Status</th>
              <th>Inventory</th>
              <th>Type</th>
              <th>Vendor</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><input type="checkbox"/></td>
              <td class="productName">White Shirt</td>
              <td>Draft</td>
              <td>470</td>
              <td>Shirt</td>
              <td>Option Matrix</td>
            </tr>
      
          </tbody>
        </table>
      </div>
      
    </mat-tab>
    <mat-tab label="Archived">  
      <div fxLayout="row" style="margin-top:20px">
        <div class="col-xs-6 ">
        </div>
        <div class="col-xs-6 ">
              <button mat-raised-button color="primary" class="pull-right filters-hover margin-right-10" >
                <mat-icon>filter_list</mat-icon> Filter
              </button>
        </div>
      </div>
      <div class="table-responsive" style="margin-top: 20px;">
        <table>
          <thead>
            <tr>
              <th><input type="checkbox"/></th>
              <th>Product</th>
              <th>Status</th>
              <th>Inventory</th>
              <th>Type</th>
              <th>Vendor</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><input type="checkbox"/></td>
              <td class="productName">White Shirt</td>
              <td>Archived</td>
              <td>470</td>
              <td>Shirt</td>
              <td>Option Matrix</td>
            </tr>
      
          </tbody>
        </table>
      </div>
      
    </mat-tab>
  </mat-tab-group>
  <!-- <router-outlet></router-outlet> -->
  
</div>
