<div class="row-wrap">
  
      <div class="col-xs-12">
        <div class="pills">
          <ul class="nav nav-pills" style="margin-top: 15px;">
            <li routerLinkActive="active">
              <a mat-raised-button class="navtabWidth" [routerLink]="['/eai/dashboard/summary']">
                <mat-icon>grid_on</mat-icon> Summary
              </a>
            </li>
            <li routerLinkActive="active">
              <a mat-raised-button class="navtabWidth" [routerLink]="['/eai/dashboard/vendors']">
                <mat-icon>layers</mat-icon> Vendors
              </a>
            </li>
            
          </ul>
        </div>
  </div>
</div>
<router-outlet></router-outlet>