.carousel-indicators li {
  background: rgba(180, 180, 180, 1);
  width: 13px;
  height: 13px;
  border-radius: 100%;
  margin: 0 5px;
}

.carousel-indicators .active {
  background: rgb(199, 157, 107);
}
.carousel-indicators {
  bottom: -40px;
}

img:hover {
  cursor: pointer;
}
