img:hover {
  cursor: pointer;
}

li {
  color: whitesmoke;
}

li.selected {
  color: #ffd700;
}

.instructions li {
  color: black;
}

h5:hover {
  text-decoration: underline;
  cursor: pointer;
}

// .imagediv:focus {
//   border: 5px solid rgba(245, 130, 31, 1);
// }

// .imagediv:active {
//   border: 5px solid rgba(245, 130, 31, 1);
// }
