<div class="w-100" fxLayout="column" fxLayoutAlign="center center">
  <div fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="start center">
      <mat-icon style="cursor: pointer;" (click)="exitCreateCollection(false)">arrow_back</mat-icon> <h4 style="margin-left:20px">Create Collection</h4>
    </div>
    <div style="padding:20px;box-shadow:0 0 2px 0 rgba(100,100,100,1);margin-top:20px;border-radius: 5px;width:650px">
      <div>
        <label>Title</label>
        <input type="text" class="form-control" placeholder="Enter Product Title"/>
      </div>
      <div style="margin-top:20px">
        <label>Description</label>
        <textarea rows="3" class="form-control" style="resize: none;"></textarea>
      </div>
    </div>
    

    <div style="padding:20px;box-shadow:0 0 2px 0 rgba(100,100,100,1);margin-top:20px;border-radius: 5px;width:650px">
      <h4>Collection type</h4>
      <div fxLayout="row" style="margin-top: 10px;">
        <input type="radio" name="mode"/>
        <div fxLayout="column" style="margin-left: 10px;">
          <p>Manual</p>
          <p style="color: rgba(150,150,150,1);">Add products to this collection one by one. Learn more about <span>manual collections</span>.</p>
        </div>

      </div>
      <div fxLayout="row" style="margin-top: 10px;">
        <input type="radio" name="mode"/>
        <div fxLayout="column" style="margin-left: 10px;">
          <p>Automated</p>
          <p style="color: rgba(150,150,150,1);">Existing and future products that match the conditions you set will automatically be added to this collection. Learn more about <span>automated collections</span>.</p>
        </div>

      </div>

      <hr>

      <h5>CONDITIONS</h5>
      <div fxLayout="row">
        <p>Products must match :</p>
        <div fxLayout="row" style="margin-left: 10px;">
          <input type="radio" name="condition"/>
          <p style="margin-left: 5px;">all conditions</p>
        </div>
        <div fxLayout="row" style="margin-left: 10px;">
          <input type="radio" name="condition"/>
          <p style="margin-left: 5px;">any condition</p>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <div style="width: 30%;">
          <mat-select class="form-control" [(value)]="selected">
            <mat-option [value]="1">Product Tag</mat-option>
            <mat-option [value]="2">Product Title</mat-option>
            <mat-option [value]="3">Product Type</mat-option>
            <mat-option [value]="4">Product Vendor</mat-option>
            <mat-option [value]="5">Product Price</mat-option>
          </mat-select>
        </div>
        <div style="width: 30%;">
          <mat-select class="form-control" [(value)]="selected">
            <mat-option [value]="2">is equal to</mat-option>
            <mat-option [value]="3">is not equal to</mat-option>
            <mat-option [value]="1">starts with</mat-option>
            <mat-option [value]="4">ends with</mat-option>
            <mat-option [value]="5">contains</mat-option>
          </mat-select>
        </div>
        <div style="width: 30%;">
          <input type="text" class="form-control"/>
        </div>

      </div>
      <button mat-raised-button style="margin-top:10px"> Add another condition</button>
    </div>
    <div style="padding:20px;box-shadow:0 0 2px 0 rgba(100,100,100,1);margin-top:20px;border-radius: 5px;width:650px">
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <h4>Search engine listing preview</h4>
        <p style="cursor: pointer;color: blue;">Edit website SEO</p>
      </div>
      <p>Add a title and description to see how this collection might appear in a search engine listing</p>
    </div>
    
    <mat-dialog-actions align="end" style="margin-left: 68%;margin-top: 20px;">
      <!-- <button mat-raised-button class="CancelClass" (click)="showAddProduct = !showAddProduct" style="margin-right:10px" >Back</button> -->
      <button mat-raised-button class="btn-primary"  >Save</button>
      
    </mat-dialog-actions>
  </div>
</div>
